*.suo
*.user
src/packages/
src/Sitecore.Diagnostics.ConfigBuilder/bin/
src/Sitecore.Diagnostics.ConfigBuilder/obj/
src/Sitecore.Diagnostics.ConfigBuilder.UnitTests/bin/
src/Sitecore.Diagnostics.ConfigBuilder.UnitTests/obj/
src/TestResults/
