*.suo
*.user
packages/
Sitecore.Diagnostics.ConfigBuilder.UnitTests/bin/
Sitecore.Diagnostics.ConfigBuilder.UnitTests/obj/
Sitecore.Diagnostics.ConfigBuilder/bin/
Sitecore.Diagnostics.ConfigBuilder/obj/
TestResults/
